name: Update sunrise changelog

on:
  push:
    branches: [master]
  pull_request:
    types: [closed]
    branches: [master]

jobs:
  update_changelog:
    if: github.event.pull_request.merged == true && github.event.commits[0].author.name != 'GitHubActions'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.GH_TOKEN }}

    - name: Configure git
      run: |
        git config user.name "GitHubActions"
        git config user.email "<>"

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install Dependencies
      run: pip install pyyaml requests

    - name: Extract Changelog from PR
      run: python3 Tools/automatic_changelog.py "Resources/Changelog/ChangelogSunrise.yml" "${{ github.event.pull_request.body }}"

    - name: Commit and Push Changes
      run: |
        git add Resources/Changelog/ChangelogSunrise.yml
        git commit -m 'Update changelog from PR #${{ github.event.pull_request.number }}'
        git push

    - name: Publish changelog (Discord)
      run: Tools/actions_changelogs_since_last_run.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DISCORD_WEBHOOK_URL: ${{ secrets.CHANGELOG_DISCORD_WEBHOOK }}
